html
    head
        meta(charset="utf-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0")
        meta(name="viewport",content="initial-scale=1, maximum-scale=1")
        meta(http-equiv="X-UA-Compatible",content="IE=edge")
        title=title
        link(rel="stylesheet", href="/css/index.min.css")
    body
        //横屏
        .js-heng.gift_rotate(style='display:none')
            p
                img(src='/images/gift_heng.png' width='30%')
            p 请将手机旋转为竖向
        .container
            p #{locals.show.name}
            p #{locals.show.tel} 
            a.js-begin 开抢
            p#js-shake 重力
            .audio-box
                img.js-audioImg(src='/images/bg-music.png')
                img(src='/images/bg-music2.png' style='display:none')
                audio#js-music(loop='loop' src='/source/all.mp3')
        script(src='/js/crossScreen.js')        
        script(src='/js/index.js')
        script(src='/js/shake.js')
        
            
