html,body {
    font-size: 14px;
    font-family: '微软雅黑';
    background: #ffa0a0;
    position: relative;
}
*{
    margin: 0;
    padding: 0;
}
.audio-box {
    width: 2.5rem;
    height: 2.5rem;
    position: absolute;
    top: 2rem;
    right: 2rem;
    img {
        width: 100%;
    }

}
.circle {
    animation: circle linear 1.5s both infinite;
}

//animate
@keyframes circle {
    0% {
        transform: rotate(0)
    }
    100% {
        transform: rotate(360deg)
    }
}

